@mixin onMobile {
  @media screen and (min-width: 488px) {
    @content;
  }
}

@mixin onTablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin mainTypography {
  font-size: 12px;
  font-weight: 500;
}

@mixin secondaryTypography {
  font-size: 10px;
  line-height: 14px;
}

@mixin dfBetween {
  display: flex;
  justify-content: space-between;
}
