.is-active {
  color: $color-blue;

  position: relative;

  &:after {
    content: "";

    position: absolute;
    bottom: -1px;

    height: 4px;
    width: 100%;

    border-radius: 2px;
    background-color: $color-blue;
  }
}
