.nav {
  &__list {
    display: flex;

    align-items: center;
    gap: 20px;
  }

  &__item {
    display: flex;
    align-items: center;

    height: 60px;

    @include mainTypography;
    line-height: 14px;
    text-transform: uppercase;

    transition: 250ms;

    &:hover {
      color: $color-blue;
    }
  }
}
