.price {
  @include dfBetween;

  &__text {
    font-size: 12px;
    line-height: 18px;

    color: $color-grey;
  }

  &__cost {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
  }
}
